<div class="calender_room">
  <div class="shift_hopes">来月シフト希望</div>
  <div class="shift_text">注）毎月必ず<span class="day"><b>25日</b></span>までに入力すること！</div>
  <img src="./images/calender.png" alt="" class="calender_image" />
</div>