<div class="shift_hopes">来月シフト希望</div>
<div class="shift_caution">注）毎月必ず<span class="day"><b>25日</b></span>までに入力すること！</div>

<div class="googleCalender">
  <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FTokyo&amp;src=YTdmbW0xN2w2Y2oxZ2ZzNXZ2ZWViYzVidmNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=amEuamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%23C0CA33&amp;color=%230B8043&amp;showTabs=1&amp;showTitle=0&amp;showNav=1&amp;showDate=1&amp;showPrint=1&amp;showCalendars=1&amp;showTz=1" style="border:none" width="1000" height="530" frameborder="0" scrolling="no"></iframe>
</div>