<div class="header_room">
  <div class="title">
    <h3 >こととや</h3>
    <h4>~思わず誰かに教えた気なる、送りたくなる</h4>
    <h4>試してみたくなる、そんなこだわりの<span class="food">『食』</span>の専門店~</h4>
  </div>
  <div class="select_button">
    <div class="user_name">
      <a href="#">nakamura</a>
    </div>
    <div class="log_out">
      <a href="#">ログアウト</a>
    </div>
  </div>
</div>
