<div class="wrapper">
  <div class="header">
    <%= render "header" %>
  </div>
  <div class="new_item_room">
    <%= render "new_item_room" %>
  </div>
  <div class="calendar">
    <%= render "calendar" %>
  </div>
</div>
