.new_item_room1{
  background-color: burlywood;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.new_item_room2{
  margin: 20px;
  background-color: #FFF;
  width: 70%;
  height: 90%;
  padding: 5vh 15vw;
}

.information_input{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  position: relative;
}

// 共通 
.weight_bold_text{
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.mandatory {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;  //角を丸くする
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}
// 共通 

// 商品画像 
.image_upload {
  padding: 2vh 0;
}

.click_upload>p {
  margin-bottom: 12px;
}
// 商品画像 

//商品名・商品説明
.new_item_form{
  margin-top: 2vh;
}

.new_item_text{
  width: 100%;
  padding: 5px 15px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

.item_explain_form{
  margin-top: 2vh;
}
//商品名・商品説明

//在庫・展開場所・入荷日
.stock_id_form{
  margin-top: 2vh;
}

.select_box1 {
  height: 25px;
  width: 30%;
  padding-left: 15px;
}

.storage_location_form{
  margin-top: 2vh;
}

.storage_location{
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

.deployment_form{
  margin-top: 2vh;
}

.deployment{
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
}

.arrival_day_form{
  margin-top: 2vh;
}

.select_box2 {
  width: 50%;
}

//下部ボタン
.registration_contents{
  text-align: center;
  margin-top: 2vh;
  padding: 10px;
  position: relative;
}

.registration_btn{
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  font-size: 15px;
}

.back_btn{
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 20%;
  border-radius: 20px;
  text-decoration: none;
  position: relative;
  top: 25px;
}

//スマホ表示時
@media (max-width: 599px) {

  .new_item_room2{
    width: 85%;
    height: 90%;
    padding: 5vh 10vw;
  }

  .information_input{
    font-size: 20px;
    font-weight: 700;
  }

  .weight_bold_text {
    font-weight: bold;
    margin-bottom: 0px;
  }

  .click_upload>p {
    font-size: 15px;
    margin-bottom: 0px;
  }

  .select-box{
    width: 100%;
  }
}
