* {
  box-sizing: border-box;
}

/* 以下新規登録、ログイン */
.container {
  background-image: url("/images/kitchen.png");
  height: 1000px;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 50px;
  color: aliceblue;
  text-shadow:1px 0 5px black;
  text-align: center;
}

h2{
  font-size: 30px;
  color: aliceblue;
  text-shadow:1px 0 5px black;
  text-align: center;
  margin-bottom: 120px;
}

.field{
  margin-left: auto;
  margin-right: auto;
  width: 8em
}

.user_data{
  font-size: 15px;
  color: black;
}

.actions{
  margin-left: auto;
  margin-right: auto;
  width: 8em
}

 /* スマホ表示時 */
 @media (max-width: 599px) {

}